<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- általános info -->
      <div class="row mb-3">
        <div class="col-6 mt-2">
          <div class="alert alert-primary">
            A felhasználónév/jelszó a következő lehet: 
            <ul style="margin-bottom: 0;">
              <li th:each="item: ${@property.users}" th:text="${item.key + '/' + item.value}"></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- login form -->
      <form th:object="${form}" th:action="@{/user/login}" method="post">

        <!-- felhasználónév -->
        <div class="row mb-3">
          <div class="col-2 mt-2">
            <label class="form-label text-success fw-bold xesjslib-required">Felhasználónév:</label>
          </div>
          <div class="col-4">
            <input th:field="*{username}" type="text" maxlength="10" autofocus="" 
                   class="form-control" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- jelszó -->
        <div class="row mb-3">
          <div class="col-2 mt-2">
            <label class="form-label text-success fw-bold xesjslib-required">Jelszó:</label>
          </div>
          <div class="col-4">
            <input th:field="*{password}" type="password" maxlength="10" 
                   class="form-control" th:errorclass="is-invalid"/>
            <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- global error -->
        <div th:if="${#fields.hasGlobalErrors()}" class="row mb-3">
          <div class="offset-2 col">
            <th:block th:insert="~{/include/global-error.html :: main}"></th:block>
          </div>
        </div>

        <!-- rendben gomb -->
        <div class="row mb-3">
          <div class="offset-2 col-auto">
            <button type="submit" class="btn btn-primary">Rendben</button>
          </div>
        </div>

      </form>
      <!-- end: login form -->

    </div>
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>    
