<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <div class="row mb-3">
        <div class="col">
          Sikeresen kijelentkezett a rendszerből!
        </div>
      </div>

      <div class="row mb-3">
        <div class="col">
          <a th:href="@{/user/login}" class="btn btn-outline-secondary">Bejelentkezés</a>
        </div>
      </div>

    </div>
    <!-- end: container -->
    
    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    
  </body>
</html>    

