<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>

    <!-- container --> 
    <div class="container">

      <!-- body header --> 
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- táblázat --> 
      <table class="table table-bordered my-4">
        <thead>
          <tr class="table-primary">
            <th class="text-center">Azonosító</th>
            <th>Név</th>
            <th>Jogosultság</th>
            <th>Státusz</th>
          </tr>
        </thead>
        <tbody>
          <th:block th:each="item: ${@mainApplication.processes}">
            <th:block th:if="${item.value.permission != null}">
              <tr class="align-middle">
                <td class="text-center">
                  <a th:href="@{/long-process/one (id = ${item.key})}" th:text="${item.key}" 
                     class="btn btn-sm btn-primary" style="width: 64px;"></a>
                </td>
                <td th:text="${item.value.name}"></td>
                <td th:text="${item.value.permission.description}"></td>
                <td th:text="${item.value.status.description}" class="text-primary fw-bold"></td>
              </tr>
            </th:block>
          </th:block>
        </tbody>
      </table>      
      <!-- end: táblázat --> 
      
      <!-- információk --> 
      <div class="text-secondary">
        <ul>
          <li>A táblázat csak azokat a folyamatokat tartalmazza, melyekre van jogosultságod.</li>
          <li>Az oldal automatikusan nem frissül. Ha szükséges használd a böngésző frissítés gombját.</li>
        </ul>  
      </div>

    </div>
    <!-- end: container --> 

    <!-- body footer --> 
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>    
