<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>

    <!-- container --> 
    <div class="container">

      <!-- body header --> 
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- azonosító -->
      <div class="fw-bold text-primary">Azonosító:</div>
      <div class="mb-2" th:text="${id}"></div>  

      <!-- név -->
      <div class="fw-bold text-primary">Név:</div>
      <div class="mb-2" th:text="${name}"></div>
      
      <!-- hiba -->
      <div class="fw-bold text-primary">Hiba:</div>
      <pre class="text-danger mb-2" th:text="${trace}" style="font: inherit; white-space: pre-wrap;"></pre>
      
    </div>
    <!-- end: container --> 
    
    <!-- body footer --> 
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    
  </body>
</html>    

