<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
    
  </head>
  <body>
    
    <!-- javascript információk -->
    <div id="freshUrl" th:text="${freshUrl}" style="display: none;"></div>
    <div id="id" th:text="${id}" style="display: none;"></div>

    <!-- container --> 
    <div class="container">

      <!-- body header --> 
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- azonosító -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Azonosító:</div>  
        <div class="col" th:text="${id}"></div>
      </div>
      
      <!-- név -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Név:</div>  
        <div class="col" th:text="${name}"></div>  
      </div>

      <!-- jogosultság -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Jogosultság:</div>
        <div class="col" th:text="${permission}"></div>
      </div>
      
      <!-- indult -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Indult:</div>
        <div class="col" id="start"></div>
      </div>

      <!-- befejeződött -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Befejeződött:</div>
        <div class="col" id="end"></div>
      </div>
      
      <!-- státusz -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Státusz:</div>
        <div class="col-auto">
          <span id="statusIconContainer">
            <span id="playIcon" style="display: none;">
              <th:block th:insert="~{/include/svg-play-circle.html :: main ('2em')}"></th:block>
            </span>  
            <span id="pauseIcon" style="display: none;">
              <th:block th:insert="~{/include/svg-pause-circle.html :: main ('2em')}"></th:block>
            </span>  
            <span id="stopIcon" style="display: none;">
              <th:block th:insert="~{/include/svg-stop-circle.html :: main ('2em')}"></th:block>
            </span>  
          </span>  
        </div>
        <div class="col fw-bold px-0">
          <span id="status"></span>
        </div>
      </div>

      <!-- üzenet -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Üzenet:</div>
        <div class="col" id="message"></div>
      </div>

      <!-- haladás -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Haladás:</div>
        <div class="col-2" id="progressContainer" style="display: none;">
          <div class="progress bg-dark" style="height: 24px;">
            <div id="progressBar" class="progress-bar progress-bar-striped bg-primary overflow-visible text-white">
              <span id="progressText" class="fs-6 px-2"></span>
            </div>
          </div>          
        </div>
      </div>

      <!-- napló -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Napló:</div>
        <div class="col">
          <a th:href="@{/long-process/one/log (id = ${id})}" target="_blank">megtekintés</a>
        </div>
      </div>

      <!-- hiba -->
      <div class="row align-items-center mb-2">
        <div class="col-2 text-secondary fw-bold">Hiba:</div>
        <div class="col" id="trace" style="display: none;">
          <a th:href="@{/long-process/one/trace (id = ${id})}" class="text-danger" target="_blank">megtekintés</a>
        </div>
      </div>

      <!-- elválasztó -->
      <hr/>
      
      <!-- vezérlő panel -->
      <div class="row align-items-center">

        <!-- futtatás gomb -->
        <div class="col-auto">
          <button type="button" class="btn btn-success" th:disabled="${readPermission}" data-request="RUN">
            Futtatás
          </button>
        </div>  

        <!-- szünet gomb -->
        <div class="col-auto">
          <button type="button" class="btn btn-secondary" th:disabled="${readPermission}" data-request="PAUSE">
            Szünet
          </button>
        </div>
        
        <!-- folytatás gomb -->
        <div class="col-auto">
          <button type="button" class="btn btn-primary" th:disabled="${readPermission}" data-request="CONTINUE">
            Folytatás
          </button>
        </div>
        
        <!-- megszakítás gomb -->
        <div class="col-auto">
          <button type="button" class="btn btn-danger" th:disabled="${readPermission}" data-request="BREAK">
            Megszakítás
          </button>
        </div>  
        
        <!-- kérés -->
        <div class="col-auto" id="requestContainer" style="display: none;">
          <a href="#" onclick="return false;" data-request="CLEAR" class="text-secondary">
            <th:block th:insert="~{/include/svg-x-square.html :: main ('1em')}"></th:block>
          </a>
          <span id="request" class="fw-bold text-secondary"></span>
        </div>
        
        <!-- frissítés felirat -->
        <div class="col-auto ms-auto pe-0">frissítés:</div>  

        <!-- frissítés választó -->
        <div class="col-auto">
          <select id="freshInterval" class="form-select">
            <option value="">nincs</option>
            <option value="1">1 másodperc</option>
            <option value="2" selected>2 másodperc</option>
            <option value="4">4 másodperc</option>
            <option value="8">8 másodperc</option>
            <option value="16">16 másodperc</option>
            <option value="32">32 másodperc</option>
            <option value="64">64 másodperc</option>
          </select>
        </div>
        
      </div>
      <!-- end: vezérlő panel -->

      <!-- elválasztó -->
      <hr/>
      
      <!-- fresh exception -->
      <pre id="freshException" class="text-danger" style="white-space: pre-wrap; font: inherit;"></pre>
      
    </div>
    <!-- end: container --> 
    
    <!-- body footer --> 
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

    <!-- egyéb javascript --> 
    <script type="module" th:src="@{/static/js/long-process.js}"></script>
    
  </body>
</html>    

