<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
  </head>
  <body>
    <th:block th:fragment="main">
      <!------------------------------------------------------------------------------------------------ include body header --> 

      <div class="row align-items-center text-white mb-3" style="background-color: #7735f9;">

        <!-- page title -->
        <div class="col-auto" th:text="${page.title}" style="cursor: default;"></div>

        <!-- home -->
        <div class="col px-0">
          <div class="fat-home" th:if="${page.home} == null"></div>
          <a href="#" onclick="window.close(); return false;" th:if="${page.home} == '(CLOSE)'">
            <div class="fat-home"></div>
          </a>
          <a th:href="@{${page.home}}" th:if="${page.home} != null and ${page.home} != '(CLOSE)'">
            <div class="fat-home"></div>
          </a>
        </div>

        <!-- program név, verzió, build time -->
        <div class="col-auto" style="cursor: default;">
          spring-start
          <span th:text="${@buildProperties.getVersion}"></span>
          /
          <span th:text="${#temporals.format(@buildProperties.getTime, 'uuuu.MM.dd HH:mm')}"></span>
        </div>

      </div>

      <!------------------------------------------------------------------------------------------- end: include body header --> 
    </th:block>
  </body>
</html>