<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
  </head>
  <body>
    <th:block th:fragment="main">
      <!----------------------------------------------------------------------------------------------- include global error --> 

      <ul class="global-error text-danger">
        <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>
      </ul>

      <!------------------------------------------------------------------------------------------ end: include global error --> 
    </th:block>
  </body>
</html>