<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:fragment="main">
      <!----------------------------------------------------------------------------------------------------- include header -->

      <meta charset="UTF-8"/>
      <title th:text="${@property.getTitle()}"></title>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"/>
      <link th:href="@{/static/js/xesjslib/main.css}" rel="stylesheet"/>
      <link th:href="@{/static/css/app.css}" rel="stylesheet"/>

      <!------------------------------------------------------------------------------------------------ end: include header -->      
    </th:block>
  </head>
  <body>
  </body>
</html>