/**
 * Alkalmazás saját css 
 */

body {
  background-color: lightgray;
}

.container {
  min-width: 1024px;
  min-height: 100vh;
  background-color: #f0f0f0;
  display: flow-root;
}

a {
  text-decoration: none;
}

div.fat-home {
  min-height: 36px;
}

.global-error {
  margin-left: -16px; 
  margin-bottom: 0;
}  

[data-xesjslib-error-display] {
  display: none; 
  position: fixed; 
  bottom: 0; 
  right: 0;
  background-color: var(--bs-red);
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: default;
}

/**
 * End 
 */