<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>
    
    <!-- container -->
    <div class="container">
      
      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>
      
      <!-- név -->
      <div class="row mb-3">
        <div class="col">
          <div class="fw-bold text-success">Név:</div>
          <div th:text="${form.nev}"></div>
        </div>
      </div>

      <!-- nem -->
      <div class="row mb-3">
        <div class="col">
          <div class="fw-bold text-success">Nem:</div>
          <div th:text="${nem}"></div>
        </div>
      </div>

      <!-- születési dátum -->
      <div class="row mb-3">
        <div class="col">
          <div class="fw-bold text-success">Születési dátum:</div>
          <div th:text="${#temporals.format(form.szuletesiDatum, 'uuuu.MM.dd')}"></div>
        </div>
      </div>

      <!-- születési hely -->
      <div class="row mb-3" th:if="${form.szuletesiHely}">
        <div class="col">
          <div class="fw-bold text-success">Születési hely:</div>
          <div th:text="${form.szuletesiHely}"></div>
        </div>
      </div>

      <!-- email cím -->
      <div class="row mb-3" th:if="${form.email}">
        <div class="col">
          <div class="fw-bold text-success">Email cím:</div>
          <div th:text="${form.email}"></div>
        </div>
      </div>

      <!-- legmagasabb iskolai végzettség -->
      <div class="row mb-3">
        <div class="col">
          <div class="fw-bold text-success">Legmagasabb iskolai végzettség:</div>
          <div th:text="${vegzettseg}"></div>
        </div>
      </div>

      <!-- rendelkezem az alábbi okmányokkal -->
      <div class="row mb-3" th:unless="${#lists.isEmpty(okmanyok)}">
        <div class="col">
          <div class="fw-bold text-success">Rendelkezem az alábbi okmányokkal:</div>
          <ul style="margin-bottom: 0;">
            <li th:each="item: ${okmanyok}" th:text="${item}"></li>
          </ul>
        </div>
      </div>

      <!-- fénykép -->
      <div class="row mb-3" th:if="${fenykep}">
        <div class="col">
          <div class="fw-bold text-success">Fénykép:</div>
          <div th:text="${fenykep}"></div>
        </div>
      </div>

      <!-- élettörténet -->
      <div class="row mb-3" th:if="${form.elettortenet}">
        <div class="col">
          <div class="fw-bold text-success">Élettörténet:</div>
          <div th:text="${form.elettortenet}"></div>
        </div>
      </div>

      <!-- hozzájárulás -->
      <div class="row mb-3" th:if="${form.hozzajarulas}">
        <div class="col">
          <div class="fw-bold text-success">Hozzájárulás:</div>
          <div>Hozzájárulok az adataim publikálásához</div>
        </div>
      </div>
      
      <!-- gombok -->
      <div class="row mb-3">
        <div class="col">
          <a th:href="@{/menu}" class="btn btn-primary me-3">Rendben</a>
          <a th:href="@{/personal/form}" class="btn btn-success me-3">Módosítás</a>
        </div>
      </div>

    </div>
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>

  </body>
</html>    
