<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>
    
    <!-- container -->
    <div class="container">
      
      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>
      
      <!-- űrlap -->
      <form th:action="@{/personal/form}" th:object="${form}" method="post" enctype="multipart/form-data">
      
        <!-- név -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success xesjslib-required">Név:</label>
            <input type="text" th:field="*{nev}" class="form-control w-50" th:errorclass="is-invalid" maxlength="32" 
                   autofocus=""/>
            <div th:if="${#fields.hasErrors('nev')}" th:errors="*{nev}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- nem -->
        <div class="row mb-4">
          <div class="col">
            <div><label class="form-label fw-bold text-success xesjslib-required">Nem:</label></div>
            <div th:each="item : ${@personalDictionary.nemek}" class="form-check-inline">
              <input type="radio" th:field="*{nem}" th:value="${item.key}" class="form-check-input"/>
              <label th:for="${#ids.prev('nem')}" th:text="${item.value}" class="form-check-label"></label>
            </div>
            <div th:if="${#fields.hasErrors('nem')}" th:errors="*{nem}" class="invalid-feedback"></div>            
          </div>
        </div>

        <!-- születési dátum -->
        <div class="row mb-4">
          <div class="col">
            <div><label class="form-label fw-bold text-success xesjslib-required">Születési dátum:</label></div>
            <div class="input-group w-25">
              <input type="text" th:field="*{szuletesiDatum}" class="form-control" th:errorclass="is-invalid" 
                     maxlength="10" data-xesjslib-date-picker-activate="szuletettValasztas"/>
              <span class="input-group-text" id="szuletettValasztas" style="cursor: pointer;">
                <th:block th:insert="~{/include/svg-calendar.html :: main ('1em')}"></th:block>
              </span>
            </div>
            <div class="small text-muted">Formátum: éééé.hh.nn</div>
            <div th:if="${#fields.hasErrors('szuletesiDatum')}" th:errors="*{szuletesiDatum}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- születési hely -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success">Születési hely:</label>
            <input type="text" th:field="*{szuletesiHely}" class="form-control w-25" th:errorclass="is-invalid" maxlength="32"
                   th:data-xesjslib-auto-complete-url="@{/personal/settlement?value=ACTEXT}"/>
            <div class="small text-muted">Magyarországi, vagy külföldi település</div>
            <div th:if="${#fields.hasErrors('szuletesiHely')}" th:errors="*{szuletesiHely}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- email cím -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success">Email cím:</label>
            <input type="text" th:field="*{email}" class="form-control w-50" th:errorclass="is-invalid" maxlength="64"/>
            <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- iskolai végzettség -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success xesjslib-required">Legmagasabb iskolai végzettség:</label>
            <select th:field="*{vegzettseg}" class="form-select w-25" th:errorclass="is-invalid">
              <option th:each="item : ${@personalDictionary.vegzettsegek}" th:value="${item.key}" th:text="${item.value}">
              </option>
            </select>
            <div th:if="${#fields.hasErrors('vegzettseg')}" th:errors="*{vegzettseg}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- okmányok -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success">Rendelkezem az alábbi okmányokkal:</label>
            <div th:each="item : ${@personalDictionary.okmanyok}" class="form-check">
              <input type="checkbox" th:field="*{okmanyok}" th:value="${item.key}" class="form-check-input"/>
              <label th:for="${#ids.prev('okmanyok')}" th:text="${item.value}" class="form-check-label"></label>
            </div>            
            <div th:if="${#fields.hasErrors('okmanyok')}" th:errors="*{okmanyok}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- fénykép -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success">Fénykép:</label>
            <input type="file" th:field="*{fenykep}" class="form-control w-50"
                   data-xesjslib-upload-limit-size="256K" 
                   data-xesjslib-upload-limit-extension="jpg, jpeg, png"
                   />
            <div class="small text-muted">
              Maximális fájlméret: 256 kilobájt, megengedett fájl kiterjesztések: jpg, jpeg, png
            </div>
            <div th:if="${#fields.hasErrors('fenykep')}" th:errors="*{fenykep}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- élettörténet -->
        <div class="row mb-4">
          <div class="col">
            <label class="form-label fw-bold text-success">Élettörténet:</label>
            <textarea th:field="*{elettortenet}" class="form-control" rows="3" maxlength="4096"
                      data-xesjslib-character-counter-id="elettortenet-counter"></textarea>
            <div id="elettortenet-counter" class="small text-muted"></div>
            <div th:if="${#fields.hasErrors('elettortenet')}" th:errors="*{elettortenet}" class="invalid-feedback"></div>
          </div>
        </div>

        <!-- hozzájárulás -->
        <div class="row mb-4">
          <div class="col">
            <div><label class="form-label fw-bold text-success">Hozzájárulás:</label></div>
            <input type="checkbox" th:field="*{hozzajarulas}" class="form-check-input"/>
            <label th:for="${#ids.prev('hozzajarulas')}" class="form-check-label">
              Hozzájárulok az adataim publikálásához</label>
            <div th:if="${#fields.hasErrors('hozzajarulas')}" th:errors="*{hozzajarulas}" class="invalid-feedback"></div>
          </div>
        </div>
        
        <!-- gombok -->
        <div class="row mb-3">
          <div class="col">
            <button type="submit" class="btn btn-primary me-3">Rendben</button>
            <a th:href="@{/menu}" class="btn btn-secondary">Mégsem</a>
          </div>
        </div>

      </form>
      <!-- end: űrlap -->

      <!-- fájl feltöltés hibát jelző modal -->
      <div class="modal" tabindex="-1" id="xesjslib-upload-limit-alert-id">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-danger">Fénykép feltöltés hiba!</h5>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Rendben</button>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- end: container -->

    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    <script type="module" th:src="@{/static/js/xesjslib/date-picker.js}"></script>
    <script type="module" th:src="@{/static/js/xesjslib/auto-complete.js}"></script>
    <script type="module" th:src="@{/static/js/xesjslib/upload-limit.js}"></script>
    <script type="module" th:src="@{/static/js/xesjslib/character-counter.js}"></script>
    
  </body>
</html>    
