<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>

    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>

      <!-- bejelentkezett felhasználó -->
      <div class="row mb-3">
        <div class="col">
          Bejelentkezett felhasználó: 
          <span th:text="${@mainSession.loginUserDTO.username}"></span>
        </div>
      </div>

      <!-- menü -->
      <div class="text-success fs-4 mb-1">Menü</div>
      <div class="row mb-3">
        <div class="col-4">
          <div class="list-group">
            <a th:href="@{/personal/summary}" 
               class="list-group-item list-group-item-action list-group-item-success">
              Személyes adatok
            </a>
            <a th:href="@{/long-process/all}" 
               class="list-group-item list-group-item-action list-group-item-success">
              Folyamatok megtekintése
            </a>
            <a th:href="@{/rest/div (a=${a}, b=${b})}" 
               class="list-group-item list-group-item-action list-group-item-success">
              Rest service hívás: [[${a}]] / [[${b}]]
            </a>
            <a th:href="@{/user/logout}" 
               class="list-group-item list-group-item-action list-group-item-success">
              Kijelentkezés
            </a>
            <a th:href="@{/exit-92837267652306180863952329447728}" 
               class="list-group-item list-group-item-action list-group-item-success">
              System.exit()
            </a>
          </div>
        </div>
      </div>
      
      
      <!-- direkt hibák -->
      <div class="text-secondary fs-4 mb-1">Direkt hibák</div>
      <div class="row mb-3">
        <div class="col-4">
          <div class="list-group">
            <a th:href="@{/xxxxxxxxx}" 
               class="list-group-item list-group-item-action list-group-item-secondary">
              Direkt hiba: nemlétező oldal
            </a>
            <a th:href="@{/divbyzero}" 
               class="list-group-item list-group-item-action list-group-item-secondary">
              Direkt hiba: 0-val való osztás
            </a>
            <a th:href="@{/rest/div}" 
               class="list-group-item list-group-item-action list-group-item-secondary">
              Direkt hiba: hiányzó paraméterek
            </a>
          </div>
        </div>
      </div>

    </div>
    <!-- end: container -->
    
    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    
  </body>
</html>    
