<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <th:block th:insert="~{/include/header.html :: main}"></th:block>
  </head>
  <body>
    
    <!-- container -->
    <div class="container">

      <!-- body header -->
      <th:block th:insert="~{/include/body-header.html :: main}"></th:block>
      
      <!-- timestamp -->
      <p>
        <b>timestamp:</b> 
        <span th:text="${timestamp}" class="text-danger"></span>
      </p>

      <!-- status -->
      <p>
        <b>status:</b>
        <span th:text="${status}" class="text-danger"></span>
      </p>

      <!-- error -->
      <p>
        <b>error:</b>
        <span th:text="${error}" class="text-danger"></span>
      </p>

      <!-- path -->
      <p>
        <b>path:</b>
        <span th:text="${path}" class="text-danger"></span>
      </p>

      <!-- message -->
      <p>
        <b>message:</b>
        <span th:text="${message}" class="text-danger"></span>
      </p>

      <!-- trace -->
      <b>trace:</b> 
      <pre th:text="${trace}" class="text-danger" style="white-space: pre-wrap; font: inherit;"></pre>

    </div>
    <!-- end: container -->
    
    <!-- body footer -->
    <th:block th:insert="~{/include/body-footer.html :: main}"></th:block>
    
  </body>
</html>    

